.right {
    padding-left:15px;
}
.select {
margin-left:80px;
  }
.button {
    margin-left:300px
}
.left {
    margin-right:10px;
    }

    .example-card {
        max-width: 250px;
        margin-bottom: 20px;
      }
      .card-column{
        margin-right: 20px !important;
      }
      .example-header-image {
        background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
        background-size: cover;
      }
